.hamburgerIcon {
  height: 100px;
  float: right;
}

#main {
  border: 1px solid black;
  height: 25px;
}
#banner {
  border: 1px solid green;
  position: absolute;
  top: 0px;
  height: 100vh;
  background-color: blue;
}

img {
  width: 90%;
  height: 100%;
}
